<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>haoqibaoyewu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D860DD01D2A53320091A858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D860DE91D2A53330091A858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D860DF41D2A53330091A858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
